
a {
  display: inline-block;
  margin:3px 5px;
  padding: 5px 5px;
  border-radius: 3px;
 text-decoration: none;
}
a.dark{
background-color: #333;
color:#eee;
}
a.light{
 background-color: #eee;
 color:#333;
}
.button-light {
    background-color: #007bff;
    color: white;
}
.button-dark {
    background-color: #555;
    color: white;
}